* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 62.5%;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #9635F8;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(245deg, #022C17 -100%, #17022C 200%);;
}

h1 {
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
  color: #F9FAFB;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border: 1px solid #272E35;
  border-radius: 1.2rem;
  background-color: #101418;
}

label {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border: 1px solid #272E35;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: none;
  color: #101418;
  background-color: #058F4A;
}

input {
  min-width: 30rem;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #272E35;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #F9FAFB;
  background-color: #272E35;
}

input + label {
  margin-top: 1rem;
}

input:focus {
  background-color: #272E3580;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #272E35;
  border-radius: 0.5rem;
  color: #101418;
  background-color: #058F4A;
  cursor: pointer;
  transition: 200ms;
}

.btn:hover {
  filter: brightness(1.1);
}

.result {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border: 1px solid #272E35;
  border-radius: 1.2rem;
  color: #F9FAFB;
  background-color: #101418;
}

p {
  line-height: 2;
}