* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Garuda, sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(135deg, #694baf, #3b216d);
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: #EAEAEA;
  text-shadow: 0 2px 2px #121214;
}

form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 2rem;
  border: 0.1rem solid #FFFFFF40;
  background-color: #FFFFFF30;
}

label {
  color: #EAEAEA;
  text-shadow: 0 2px 2px #121214;
}

input {
  min-width: 30rem;
  margin-bottom: 2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #FFFFFF20;
}

input:focus {
  background-color: #FFFFFF60;
  outline: none;
}

[type="submit"] {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #3b216d80;
  cursor: pointer;
  transition: 200ms;
}

[type="submit"]:hover {
  background-color: #3b216d;
}

p {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #EAEAEA;
  background-color: #FFFFFF20;
  text-shadow: 0 2px 2px #121214;
}